Package: am.theiostre.spintask
Name: SpinTask
Depends: mobilesubstrate, com.zimm.libdisplaystack, applist
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
