Package: am.theiostre.spintask
Name: SpinTask
Depends: mobilesubstrate, applist, com.zimm.libdisplaystack | firmware (>= 6.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
